.cardList {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.cardWrapper {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    max-width: 450px;
    border-radius: 0;
    position: relative;
    display: flex;
    height: 280px;
    background-color: #ffffff;
}

.imageWrapper img {
    height: 280px;
    objectFit: cover;
}

.textWrapper {
    padding: 20px;
}

.cardTitle {
    margin: 0;
}

.genre {
    margin-bottom: 8px;
}

.genreBut {
    font-size: 12px;
    margin-right: 8px;
}

.ratingCircle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.description {
    margin-bottom: 8px;
}

.rating {
    font-size: 15px;
    margin-top: 0;
}

.rating-low {
    border: 2px solid #E90000;
}

.rating-medium {
    border: 2px solid #E97E00;
}

.rating-medium-well {
    border: 2px solid #E9D100;
}

.rating-high {
    border: 2px solid #66E900;
}

@media (max-width: 900px) {
    .cardWrapper {
        width: 388px;
        height: 245px;
    }

    .cardList {
        grid-template-columns: 100%;
    }

    .textWrapper {
        padding: 0px 13px;
    }

    .ratingCircle {
        top: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
        font-size: 10px;
    }

    .imageWrapper {
        height: 100%;
    }

    .imageWrapper img {
        height: 91px;
        margin: 6px 0 0 10px;
    }
}
