.cardList {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.cardWrapper {
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    max-width: 450px;
    border-radius: 0;
    position: relative;
}

.ant-card-body {
    display: flex;
    height: 280px;
}

.imageWrapper img {
    height: 280px;
    objectFit: cover;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-card .ant-card-body {
    padding: 0;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-card-bordered {
    border-radius: 0;
}

.textWrapper {
    padding: 20px;
}

:where(.css-dev-only-do-not-override-mzwlov).ant-space {
    display: block;
}

.releaseDate {
    font-size: 12px;
    line-height: 22px;
    text-align: left;
    color: #827E7E;
}

.ratingCircle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.rating-low {
    border: 2px solid #E90000;
}

.rating-medium {
    border: 2px solid #E97E00;
}

.rating-medium-well {
    border: 2px solid #E9D100;
}

.rating-high {
    border: 2px solid #66E900;
}

@media (max-width: 900px) {
    .cardWrapper,
    .infoCard {
        width: 388px;
        height: 245px;
    }

    .cardList {
        grid-template-columns: 100%;
    }

    .textWrapper {
        padding: 0px 13px;
    }

    .ratingCircle {
        top: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
        font-size: 10px;
    }

    .imageWrapper {
        height: 100%;
    }

    .imageWrapper img {
        height: 91px;
        margin: 6px 0 0 10px;
    }
}
